# application.yml
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/school_management?useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456

  sql:
    init:
      mode: always              # 启动时执行SQL
      schema-locations: classpath:db/database.sql
      data-locations: classpath:db/database_init_data.sqldata.sql

  data:
    redis:
      host: localhost
      port: 6379
      password: 123456 #redis密码
      database: 0

# MyBatis Plus配置
mybatis-plus:
  # mapper.xml文件位置
  mapper-locations: classpath*:/mapper/**/*.xml
  # 实体类扫描包路径
  type-aliases-package: com.example.primaryschoolmanagement.entity
  # 配置项
  configuration:
    # 驼峰命名转换
    map-underscore-to-camel-case: true
    # 开启日志输出
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  # 全局配置
  global-config:
    # 数据库配置
    db-config:
      # 主键类型（AUTO:数据库ID自增 ASSIGN_ID:雪花算法）
      id-type: AUTO
      # 逻辑删除字段名
      logic-delete-field: is_deleted
      # 逻辑删除值
      logic-delete-value: 1
      # 逻辑未删除值
      logic-not-delete-value: 0

com:
  jwt:
    user-secret-key: +kJ8A7Cw9b9hhPNULgUTYsXWLJI0TIsuLtGX99A+I3M=
    user-ttl: 7200000  # 2小时
    user-token-name: authentication
